@import 'o-teaser/main';

.last-updated {
  display: inline-flex;
  align-items: center;
  font-family: Metric, MetricWeb, MetricWeb-Regular;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #c00;

  // Add these explicitly because otherwise overwritten by o-labels colours, pulled in by onward journey
  .o-teaser__timestamp--closed,
  .o-teaser__timestamp--inprogress,
  .o-teaser__timestamp--live,
  .o-teaser__timestamp--updated,
  .o-teaser__timestamp--new,
  .o-teaser__timestamp {
    color: #c00;
  }

  &--live {
    letter-spacing: normal;
    font-family: MetricWeb, sans-serif;
    font-weight: 400;
    padding: 0 4px;
    background-color: #cc0000;
    color: white;

    @include oTeaser(
      $opts: (
        'elements': (
          'timestamp',
        ),
        'themes': (
          'small',
        ),
      )
    );

    .o-teaser {
      margin-bottom: 0;
      opacity: 0.9;
      font-size: 12px;
      line-height: 20px;

      &--small {
        border-bottom: 0;
        padding-bottom: 0;
      }

      &__timestamp {
        margin-left: 0;
        padding-top: 0;
      }

      &__timestamp-prefix:before,
      &__timestamp--inprogress:before {
        background-color: white;
      }

      &__timestamp--inprogress:before {
        top: 3px;
      }
    }
  }
}
