@import 'o-grid/main';

.g-videoset {
  margin: 8px auto 2em;

  figure {
    margin: 0;
  }

  video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  &__small {
    display: block;

    @include oGridRespondTo(S) {
      display: none;
    }
  }

  &__medium {
    display: none;

    @include oGridRespondTo(S, L) {
      display: block;
    }
  }

  &__large {
    display: none;

    @include oGridRespondTo(L) {
      display: block;
    }
  }
}
