@import 'o-grid/main';

// Container styles
.g-autosuggest-search {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;

  // Default border styles
  border: solid 1px #ccc1b7;
  background-color: #ffffff;
  transition: 0.15s box-shadow ease-in, 0.15s -webkit-box-shadow ease-in;

  // Focus styles
  &:focus-within {
    border-color: #999189;
    box-shadow: 0 0 0 2px #1aecff;
  }

  // Error styles
  &--error {
    border: solid 1px #cc0000;
    color: #cc0000;
  }

  &--with-search-icon-right {
    padding-right: 30px;
  }

  &__clear-button {
    height: 42px;
    position: absolute;
    right: 8px;
    top: 0;
    padding: 0;
    background: none;
    border: none;
  }

  &__error-message {
    font-family: MetricWeb, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #cc0000;
    margin-top: 5px;
  }

  &__search-icon {
    height: 42px;
    padding-left: 4px;
    margin-right: -6px;
    display: flex;
    align-items: center;
  }

  &__search-icon-right {
    height: 42px;
    position: absolute;
    right: 4px;
    top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background: none;
    border: none;
  }

  &__selected-values {
    display: flex;
    flex-wrap: wrap;
  }

  &__selected-value {
    font-family: MetricWeb, sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 9px;
    padding-right: 6px;
    box-sizing: border-box;
    line-height: 32px;
    border-radius: 3px;
    background-color: #0d7680;
    color: #ffffff;
    font-weight: 600;
    margin-left: 4px;
    margin-top: 4px;

    span {
      margin-right: 2px;
    }
  }

  &__selected-value-close-button {
    border: none;
    background-color: transparent;
    width: min-content;
    padding: 0;
  }
}

// Override react autosuggest defaults
.react-autosuggest {
  &__container {
    flex: 1 0 120px;
  }

  &__input {
    width: 100%;
    font-family: MetricWeb, sans-serif;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #33302e;
    border: 0 none;
    box-sizing: border-box;
    min-height: 40px;
    padding: 9px 9px 9px;
    border-radius: 0;
    outline: none;
    appearance: none;

    &::placeholder {
      text-transform: none;
    }

    &--focused {
      outline: none !important;
      box-shadow: none !important;
    }

    &--open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__suggestions-container {
    display: none;
    min-width: 100px;

    &--open {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      z-index: 2;
      max-height: 193px;
      overflow-y: auto;
      margin-top: 1px;
    }

    // Suggestions list element style overrides
    ul li {
      font-family: MetricWeb, sans-serif !important;
      line-height: normal !important;

      cursor: default;
      pointer-events: none;

      & > div[class*='disabled'] {
        color: #999999;
      }

      & > div:not([class*='disabled']) {
        cursor: pointer;
        pointer-events: all;
      }

      &:before {
        content: '';
      }
    }
  }

  &__suggestions-list {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    color: #4d4845;
    background-color: #ffffff;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #e2e2e2;
  }

  &__suggestion {
    &--highlighted {
      background-color: #f2f2f2;
    }
  }
}

// Default suggestion element (inside ul/li)
.suggestion {
  padding: 10px 20px;
}
