$o-share-is-silent: false;
@import '../shared/_globals.scss';
@import 'o-share/main.scss';
@import 'o-grid/main';

.g-share.g-share--separated li {
  margin-left: 16px;
}

.g-share.g-share--separated li:first-of-type {
  margin-left: 0;
}

@include oGridRespondTo(S) {

  .g-share .o-share__icon--whatsapp {
    display: none;
  }

}
