@import 'o-loading/main';

.g-loading {
  @include oLoadingContent(
    $opts: (
      'theme': 'light',
    )
  );
  &--small {
    @include oLoadingContent(
      $opts: (
        'size': 'small',
      )
    );
  }
  &--medium {
    @include oLoadingContent(
      $opts: (
        'size': 'medium',
      )
    );
  }
  &--large {
    @include oLoadingContent(
      $opts: (
        'size': 'large',
      )
    );
  }
  &--dark {
    @include oLoadingContent(
      $opts: (
        'theme': 'dark',
      )
    );
  }
}
