.g-epilogue-copyright {
  margin-top: 48px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
}

.g-epilogue-copyright a {
  border-bottom: .25ex solid #cfd8d1;
  color: #0d7680;
  text-decoration: none;
  text-decoration-color: #cfd8d1;
  -webkit-text-decoration-color: #cfd8d1;
}
