.g-accordion .g-accordion-section__header {
  display: block;
  background: none;
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

.g-accordion .g-accordion-section__header:focus {
  outline: none;
}
