@import 'o-loading/main';

/* @TODO update this all to latest o-loading. See #92 */
.g-loading {
  &--small {
    @include oLoadingContent(
      $opts: (
        'size': 'small',
      )
    );
  }
  &--medium {
    @include oLoadingContent(
      $opts: (
        'size': 'medium',
      )
    );
  }
  &--large {
    @include oLoadingContent(
      $opts: (
        'size': 'large',
      )
    );
  }
  &--dark {
    @include oLoadingContent(
      $opts: (
        'theme': 'dark',
      )
    );
  }
}
