$o-typography-is-silent: false;
@import '../shared/_globals.scss';
@import 'o-typography/main';
@import 'o-grid/main';

.big-topper {
  text-align: center;
}

.big-topper figure {
  width: 266px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
}

.big-topper figure .o-typography-caption {
  margin-top: 4px;
}

.big-topper .topic {
  margin-top: 18px;
  margin-bottom: 15px;
}

.big-topper h1 {
  max-width: 790px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  font-size: 54px;
  line-height: 54px;
}

.big-topper .bylines {
  margin-top: 13px;
  margin-bottom: 38px;
}

.big-topper .article__share {
  margin-top: 13px;
}

.big-topper .o-editorial-typography-standfirst {
  max-width: 680px;
  margin-top: 18px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  color: #66605c;
  font-size: 24px;
  text-align: left;
  line-height: 32px;
}

@include oGridRespondTo($from: M, $until: L) {

  .big-topper h1 {
    font-size: 44px;
    line-height: 44px;
  }

}

@include oGridRespondTo($until: M) {

  .big-topper {
    text-align: left;
  }

  .big-topper figure {
    width: 100px;
    margin-left: 0;
  }

  .big-topper .topic {
    margin-top: 11px;
    margin-bottom: 5px;
  }

  .big-topper h1 {
    margin-bottom: 5px;
    font-size: 32px;
    line-height: 1;
  }

  .big-topper .bylines {
    margin-bottom: 10px;
  }

  .big-topper .o-editorial-typography-standfirst {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.33;
  }

}
